<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-4.2.xsd
    	http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    ">

	<bean id="greetingAdvice" class="com.syj.demo.spring.alliance.GreetingBeforeAdvice"/>
	<bean id="target" class="com.syj.demo.spring.alliance.NavieWaiter"/>
	<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.syj.demo.spring.alliance.Waiter"
		p:interceptorNames="greetingAdvice"
		p:target-ref="target"
	/>

</beans>
  